
{% extends 'base.html' %}
{% block content %}
<h2 class="mb-4">Restaurants by Category</h2>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">🍢 Kurdish Restaurants</h5>
        <p>Dawa 2, Sofyani, Haji Kaka</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">🍝 Turkish Restaurants</h5>
        <p>Ozkan, Serdem, Hasbahce</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">🍔 Fast Food</h5>
        <p>Foodland, Burger Chef, Popay's</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">🍰 Desserts & Cafes</h5>
        <p>Crepe House, LavanDula, Caffeine</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
